.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  /* background-color: black; */
  height: 150px;
  padding: 75px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  /* animation: App-title-spin infinite 0s linear; */
  height: 100px;
  /* text-align: left; */
}

.App-intro {
  font-size: large;
}

li {
  list-style: none;
}

@keyframes App-title-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


